.measures-drain-title {
  margin-right: 20px;
  padding-bottom: 15px;
}

.show-markers-label {
  margin-left: 20px;
}

.csv-button {
  margin-left: 20px;
}

.no-data-div {
  margin-top: 20px;
  margin-bottom: 20px;
}
